@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
 * This is how your global.css or index.css should look like. 
 *
 * To see how to apply this variables declared here on tailwind
 * check ./theme-colors.ts properties examples.
 * 
 */

@layer base {
    :root {
        /* --font-family: "League Spartan", sans-serif; */
        --font-family: "Ubuntu", sans-serif;
        /* oklch vars - Applied by dynamic accent colors */
        --background: oklch(var(--accent-100));
        --foreground: oklch(var(--accent-900));
        --primary: oklch(var(--accent-500));
        --primary-foreground: oklch(var(--accent-50));
        --secondary: oklch(var(--accent-800));
        --secondary-foreground: oklch(var(--accent-200));
        --ring: oklch(var(--accent-500));
        --box-shadow: oklch(var(--accent-800) / 0.15);
        --border: oklch(var(--accent-900) / 0.2);
        /* hsl vars */
        --muted: hsl(240 4.8% 95.9%);
        --muted-foreground: hsl(240 3.8% 45%);
        --input: hsl(240 5.9% 80%);
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        @apply outline-accent-500 dark:outline-accent-400;
    }
    *,
    :after,
    :before {
        border-color: theme("colors.border");
    }
}

.dark {
    /* oklch vars - Applied by dynamic accent colors */
    --background: oklch(var(--accent-900));
    --foreground: oklch(var(--accent-100));
    --primary: oklch(var(--accent-500));
    --primary-foreground: oklch(var(--accent-50));
    --box-shadow: oklch(var(--accent-100) / 0.05);
    --border: oklch(var(--accent-100) / 0.4);

    /* hsl vars */
    --muted: hsl(240 4.8% 30%);
    --muted-foreground: hsl(240 3.8% 70%);
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 2px;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
}

.dot-bg {
    position: absolute;
    background-image: radial-gradient(
        oklch(var(--accent-400) / 0.6) 0.05rem,
        transparent 1px
    );
    background-size: 1.25rem 1.25rem;
    z-index: -900;
}

.dark {
    .dot-bg {
        background-image: radial-gradient(
            oklch(var(--accent-400) / 0.6) 0.05rem,
            transparent 1px
        );
    }
}
