.dot_bg_default {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -900;
    background-size: 1.25rem 1.25rem;

    background-image: radial-gradient(
        oklch(var(--accent-400) / 0.4) 0.1rem,
        transparent 1px
    );
    @media (prefers-color-scheme: dark) {
        background-image: radial-gradient(
            oklch(var(--accent-950)) 0.05rem,
            transparent 1px
        );
    }
}

.dot_bg_inverted {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -900;
    background-size: 1.25rem 1.25rem;

    background-image: radial-gradient(black 1px, transparent 1px);

    .dark {
        background-image: radial-gradient(
            oklch(var(--accent-100) / 1) 0.05rem,
            transparent 2px
        );
    }
}
