@tailwind base;
@tailwind components;
@tailwind utilities;

/** Declare color variables for light and dark mode using accent values. */

:root {
    --background: oklch(var(--accent-100));
    --foreground: oklch(var(--accent-950));
}

.dark {
    --background: oklch(var(--accent-900));
    --foreground: oklch(var(--accent-50));
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
